@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,500;0,600;0,700;1,400&family=Tajawal:wght@200;300;400;500;700;800&display=swap");
:root {
  --mainBgcolor: #0d1117;
  --secondBgColor: #222121c2;
  --mainColor: #fff;
  --discColor: #ddd;
  --secondColor: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100.78%);
  --btnBgColor: #2190ff;
  --radius: 6px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Tajawal", sans-serif;
}

.winner {
  position: absolute;
  inset: 0;
}

.winner.hidden {
  display: none;
}

.app {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--mainBgcolor);
  color: var(--mainColor);
}
.header {
  margin: 15px 0px;
}

.title {
  background: var(--secondColor);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.card {
  min-width: 300px;
  max-width: 350px;
  background-color: var(--secondBgColor);
  padding: 30px;
  border-radius: var(--radius);
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.typing {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

input {
  width: 40px;
  height: 35px;
  color: aqua;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: var(--radius);
}

.info {
  margin: 20px 0px;
}

.info p {
  color: var(--discColor);
  font-size: 12px;
  text-align: center;
}

.guess_count {
  color: var(--btnBgColor);
}

.card_content button {
  background-color: var(--btnBgColor);
  width: 100%;
  padding: 10px 0px;
  color: var(--mainColor);
  cursor: pointer;
  font-weight: bold;
  border-radius: var(--radius);
  position: relative;
  z-index: 9999;
}


:where(input, button) {
  border-width: 0;
  outline-width: 0;
}
